//fontscaling

$min_width: 320px;
$max_width: 1200px;
$min_font: 14px;
$max_font: 17px;

html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}
$mod_1: 1.2; // mobile
$mod_2: 1.4; // desktop

h1 {
  font-size: $mod_1 * $mod_1 * $mod_1 * $mod_1 * 1rem;
  @include fluid-type(
    $min_width,
    $max_width,
    $mod_1 * $mod_1 * $mod_1 * $min_font,
    $mod_2 * $mod_2 * $mod_2 * $min_font
  );
}
h2 {
  font-size: $mod_1 * $mod_1 * $mod_1 * 1rem;
  @include fluid-type(
    $min_width,
    $max_width,
    $mod_1 * $mod_1 * $mod_1 * $min_font,
    $mod_2 * $mod_2 * $mod_2 * $min_font
  );
}
h3 {
  font-size: $mod_1 * $mod_1 * 1rem;
  @include fluid-type(
    $min_width,
    $max_width,
    $mod_1 * $mod_1 * $min_font,
    $mod_2 * $mod_2 * $min_font
  );
}

// Custom styles

body {
  background-color: #fff;
  color: #444;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #0a2d98;
  }
  p {
    line-height: 2rem;
  }
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex-grow: 1;
  overflow: hidden;
  // background-color: #ffffff;
  // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 900'%3E%3Cpath fill='%23eeeeee' d='M494.5 795.5c22.2 -60.7 36.7 -133.7 32.7 -207.5c-4.2 -76.1 -27.4 -145.4 -54.1 -205.5c-29.7 -67 -61.6 -130.8 -90.7 -198.5c-23.4 -54.4 -45.3 -116 -52.2 -184h-1222.1v900h1337.7c17.9 -32.3 34.8 -66.3 48.7 -104.5z'/%3E%3Cg fill='%23f7f8fa' %3E%3Cpath d='M527.1 588c-4.2-76.1-27.4-145.4-54.1-205.5c-29.7-67-61.6-130.8-90.7-198.5c-2.8-6.6-5.7-13.4-8.4-20.2c-1.5 5.1-2.9 10.2-4.2 15.5c-22.8 90.3-40.8 183.4-24.4 280.7c10.2 60.9 31.8 113.8 59.5 157.6c28.7 45.5 62.6 75 95.1 112.6c3.7 4.2 7.3 8.5 10.9 12.9c12.4-48.4 19.3-101.5 16.3-155.1z'/%3E%3Cpath d='M445.7 900h172.6c-32.7-57.6-68.8-110.3-107.6-156.9c-4.7 18.2-10.2 35.8-16.3 52.4c-13.9 38.2-30.9 72.2-48.7 104.5z'/%3E%3Cpath d='M330.1 0c6.1 59.7 23.7 114.5 43.7 163.8c16.9-57.8 43.3-106.5 60.2-163.8h-103.9z'/%3E%3C/g%3E%3C/svg%3E");
  // background-attachment: fixed;
  // background-size: cover;
}
// Hero Styles

.jumbotron {
  background-color: transparent;
  h1 {
    color: #fff;
  }
  box-shadow: none;
}

// Project image modules

.image-left {
  margin-left: -20rem;
  @media (max-width: 767px) {
    margin-left: 0;
  }
}
// @media (max-width: 767px) {
//   .image-left {
//     margin-left: 0;
//   }
// }
.image-right {
  margin-right: -20rem;
  @media (max-width: 767px) {
    margin-right: 0;
  }
}
// @media (max-width: 767px) {
//   .image-right {
//     margin-right: 0;
//   }
// }
// #hero::after {
//   content: "";
//   position: absolute;
//   bottom: 0;
//   width: 100%;
//   height: 100px;
//   background: url(../../images/shape_divider.svg);
// }
// #hero::after polygon {
//   fill: white;
// }

//Navbar Styles
.navbar {
  box-shadow: none;
  border-bottom: 1px solid #eee;
}
.navbar-logo {
  fill: #0a2d98;
  height: 1.8rem;
  padding: 0.25rem 0rem;
}
// .nav-link {
//   font-weight: bold;
// }
.nav-link.active {
  font-weight: bold;
  transition: 0.33s all ease-out;
  color: #007bff;
}

.navbar.navbar-light .navbar-nav .nav-item .nav-link {
  color: #0a2d98;
}

// .navbar-toggler {
//   padding: 0.25rem 0rem;
// }

// @media (max-width: 767px) {
//   .navbar {
//     background-color: #1c2331;
//     padding: 0.2rem 1rem;
//   }
// }
// // .navbar.navbar-light .navbar-nav .nav-item .nav-link {
// //   color: #fff;
// //   //color: #f8f9fa;
// // }

// .navbar.scrolling-navbar.nav-link

// .navbar {
//   //box-shadow: none;
//   //border-bottom: 1px solid #eee;
//   //background-color: #fff;
//   box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 1px 2px 0 rgba(0, 0, 0, 0.04);
//   // background-color: rgba(32, 48, 67, 0.6313725490196078);
//   z-index: 999;
// }
// @media (max-width: 767px) {
//   .navbar {
//     background-color: #fff;
//     padding: 0.2rem 1rem;
//     //border-bottom: 1px solid #eee;
//   }
// }

// @media (min-width: 600px) {
//   .navbar.scrolling-navbar.top-nav-collapse {
//     background-color: #fff;
//     color: #222;
//     padding: 0rem 1rem;
//     //border-bottom: 1px solid #eee;
//   }
// }

// @media (min-width: 600px) {
//   .navbar.scrolling-navbar {
//     padding: 0rem 1rem;
//   }
// }

// Card Styles
.card {
  box-shadow: 0 16px 48px rgba(32, 41, 50, 0.12);
  background-color: #f8f9f9;
  display: flex;
  height: 100%;
}

.card-block {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.card.card-footer {
  align-self: flex-end;
  flex: 1 1 auto;
}
.card.card-body.card-text {
  color: #004d84;
}
.card-btn {
  margin-top: -3rem;
  text-align: right;
  padding-bottom: 0.75rem;
}

.card-header {
  border-bottom: 0;
  background-color: #eee;
  i {
    color: #0a2d98;
  }
}
.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: #fff;
  border-top: none;
}

.cards-even {
  display: flex;
}

.lightbox-zoom {
  transition: all 0.3s ease !important;
}
.lightbox-zoom:hover {
  transform: translate3D(0, -1px, 0) scale(1.05);
  transition: all 0.2s ease;
  box-shadow: 0 16px 48px rgba(32, 41, 50, 0.22);
}
//Adds cursor to project cards on hover
.projects {
  cursor: pointer;
}

//Styles for section headings
.section {
  font-weight: 600;
}

// Better form styling
.field {
  background-color: #eee;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#c7f683),
      to(#c7f683)
    ),
    -webkit-gradient(linear, left top, left bottom, from(#ced4da), to(#ced4da));
  background-image: linear-gradient(65deg, #058aff 0, #32fad5 100%),
    linear-gradient(to bottom, #f2f3f8, #f2f3f8);
  border-radius: 0.25rem;
}

.form-control {
  color: #444;
  background-color: #eee;
  border: 1px solid #eee;
}

.form-control:focus {
  color: #444;
  background-color: #eee;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
textarea.form-control {
  resize: none;
}

.alert {
  padding: 0.25rem 1.25rem;
  margin-bottom: 1rem;
}

// Fixes gatsby-image zoom issue
.zoom {
  img,
  .gatsby-image-wrapper,
  video {
    transition: $mask-zoom-transition;
  }
  &:hover {
    img,
    .gatsby-image-wrapper,
    video {
      transform: $mask-zoom-transform;
    }
  }
}

// .gatsby-image-wrapper {
//   // box-shadow: 0 0.4rem 0.8rem -0.1rem rgba(0, 32, 128, 0.1), 0 0 0 1px #f0f2f7;
//   // box-shadow: none;
//   // box-shadow: 0 16px 48px rgba(32, 41, 50, 0.22);
//   box-shadow: 0 16px 48px rgba(32, 41, 50, 0.12);
// }
p footer {
  color: #fff;
}

footer.page-footer {
  color: #fff;
  background-color: #0a2d98;
}
.footer-logo {
  fill: #fff;
  height: 1.6rem;
  padding: 0.25rem 0.75rem;
}

.view {
  cursor: pointer;
}
// .gradient-text {
//   background: -webkit-linear-gradient(65deg, #08f 0, #23fad2 100%);
//   -webkit-text-fill-color: transparent;
//   -webkit-background-clip: text;
//   background-clip: text;
// }
// Button Styles

// .btn {
//   box-shadow: 0 8px 16px rgba(18, 193, 233, 0.24);
// }
// .btn:hover {
//   box-shadow: 0 8px 16px rgba(18, 193, 233, 0.54);
// }
// .btn:focus {
//   box-shadow: 0 8px 16px rgba(18, 193, 233, 0.54);
// }

// .btn-custom {
//   background: #1dc7ee;
//   background: linear-gradient(65deg, #058aff 0, #32fad5 100%);
// }
// .btn-custom-outline {
//   color: #1dc7ee;
//   border-color: #1dc7ee;
// }

// Horizontal Rule Styling

// .heading-hr {
//   max-width: 200px;
// }
// .text-electric-blue {
//   color: #058aff;
// }
// .hr-electric-blue {
//   border-top: 1px solid rgba(68, 192, 238, 0.18);
// }
// .electric-text {
//   color: #058aff;
// }

// //lightbox
// .lightbox figure img {
//   cursor: zoom-in;
//   transition: opacity 0.4s;
// }
// .badge {
//   box-shadow: none;
// }
// .custom-pills.active {
//   background-color: #058aff;
//   display: inline-flex;
//   padding: 5rem;
//   color: #fff;
// }
// .custom-pills {
//   color: #058aff;
//   background-color: transparent;
// }
// .slide {
//   flex-shrink: 0;
//   width: 90%;
//   height: 100%;
//   position: relative;
//   transition-property: transform;
// }
// figure {
//   box-shadow: 0 16px 48px rgba(32, 41, 50, 0.22);
// }

//Styles for image zoom component

// .frame {
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   display: none;
//   background: white;
//   transform: translateZ(0);
// }
// img {
//   cursor: zoom-in;
//   display: block;
//   max-width: 100%;
//   margin: auto;
// }

// img.zoomed {
//   cursor: zoom-out;
// }

// Homepage Section colors

.project-nav {
  color: #444;
}
